<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.danielbarnett.AddressToGPS"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AddressToGPS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.danielbarnett.AddressToGPS.MainActivity"
            android:label="AddressToGPS"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="maps.google.com" />
                <data android:host="maps.yandex.ru" />
                <data android:host="maps.yandex.com" />
                <data android:host="www.openstreetmap.org" />
                <data android:host="openstreetmap.org" />
                <data android:host="osm.org" />
                <data android:host="map.baidu.cn" />
                <data android:host="map.baidu.com" />
                <data android:host="wb.amap.com" />
                <data android:host="www.amap.com" />
                <data android:host="here.com" />
                <data android:host="www.here.com" />
                <data android:host="share.here.com" />
                <data android:host="map.wap.qq.com" />
                <data android:host="map.qq.com" />
                <data android:host="maps.apple.com" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
    </application>

</manifest>
